<p id="notice"><%= notice %></p>

<h1>Blog Posts</h1>

<% if @posts.empty? %>
  <p>No posts available.</p>
<% end %>
<br>

<div class="posts-container">
  <% @posts.each do |post| %>
    <div class="blog-post">
      <h2><%= link_to post.title, post %></h2>
      <p class="post-body">
        <%= truncate(post.body, length: 200, separator: ' ') %>
      </p>
      <p class="post-meta">
        <strong>Author:</strong> <%= post.user.user_name if post.user %> |
        <strong>Created at:</strong> <%= post.created_at.strftime("%B %d, %Y") %>
      <div class="post-actions">
        <%= link_to 'Read More', post %> |
        <%= link_to 'Edit', edit_post_path(post) %> |
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    <hr> <%# Adds a horizontal rule between posts %>
  <% end %>
</div>

<br>

<%= link_to 'New Post', new_post_path %>